$purple: #7C1588;
$font-head: "Dirty Brush";
$font-text: "Righteous-Regular";
@mixin margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin heightWidth($height, $width) {
  height: $height;
  width: $width;
}

.landing-grid {
  @include margin(auto);
  display: grid;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: 13% 1fr;
}

// landing page grid

.navbar {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
  border-bottom: 3px solid black;
  align-items: center;
  .logo {
    img {
      @include heightWidth(5rem, 15rem);
      @include margin(auto);
      padding: 10px 20px 0 20px;
    }
  }
  h3 {
    font: 100% $font-head;
    font-size: 2em;
    @include margin(auto);
  }
  h3 a {
    color: black;
    text-decoration: none;
  }

  h3 a:hover {
    text-decoration: underline;
  }
}

// nabvar styling

.landing-content-grid {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5%;
  .content-info-first {
    grid-row-start: 1;
    grid-column-start: 1;
    h1 {
      font: 100% $font-head;
      font-size: calc(2em + 1vw);
      text-align: center;
    }
    p {
      font: 100% $font-text;
      font-size: calc(1em + 1vw);
      text-align: center;
      padding: 0 50px 0 50px;
    }
  }
  .content-img-first {
    grid-row-start: 1;
    grid-column-start: 2;
    @include margin(auto);
    margin-top: 2em;
    img {
      @include heightWidth(300px, 450px);
    }
  }
  .content-info-second {
    grid-row-start: 2;
    grid-column-start: 2;
    h1 {
      font: 100% $font-head;
      font-size: calc(2em + 1vw);
      text-align: center;
    }
    p {
      font: 100% $font-text;
      font-size: calc(1em + 1vw);
      text-align: center;
      padding: 0 50px 0 50px;
    }
  }
  .content-img-second {
    grid-row-start: 2;
    grid-column-start: 1;
    @include margin(auto);
    margin-top: 2em;
    img {
      @include heightWidth(300px, 450px);
    }
  }
}

// landing page content styling

@media screen and (max-width: 768px) {
  // * {
  //   border: 1px solid red;
  // }
  .landing-grid {
    display: grid;
    width: 100%;
    max-width: 768px;
    grid-template-rows: 13% 1fr;
  }
  .navbar {
    justify-content: center;
    width: inherit;
    .logo {
    }
    h3 {
      display: none;
    }
  }
  .landing-content-grid {
    grid-template-columns: 50% 50%;
  }
}

// tablet styling

@media screen and (max-width: 415px) {

}

// phone styling
