$purple: #7C1588;
$font-head: "Dirty Brush";
$font-text: "Righteous-Regular";
@mixin margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin heightWeight($height, $width) {
  height: $height;
  width: $width;
}

.landing-grid {
  @include margin(auto);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
}

// landing page grid

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid black;
  .logo {
    img {
      @include heightWeight(5rem, 15rem);
      @include margin(auto);
      padding: 10px 20px 0 20px;
    }
  }
  h3 {
    font: 100% $font-head;
    font-size: 2rem;
    @include margin(auto);
  }
  h3 a {
    color: black;
    text-decoration: none;
  }

  h3 a:hover {
    text-decoration: underline;
  }
}

// nabvar styling

.landing-content-grid {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5%;
  .content-info-first {
    grid-row-start: 1;
    grid-column-start: 1;
    h1 {
      font: 100% $font-head;
      font-size: 3rem;
      text-align: center;
    }
    p {
      font: 100% $font-text;
      font-size: 2rem;
      text-align: center;
      padding: 0 50px 0 50px;
    }
  }
  .content-img-first {
    grid-row-start: 1;
    grid-column-start: 2;
    @include margin(auto);
    img {
      @include heightWeight(300px, 450px);
    }
  }
  .content-info-second {
    grid-row-start: 2;
    grid-column-start: 2;
    h1 {
      font: 100% $font-head;
      font-size: 3rem;
      text-align: center;
    }
    p {
      font: 100% $font-text;
      font-size: 2rem;
      text-align: center;
      padding: 0 50px 0 50px;
    }
  }
  .content-img-second {
    grid-row-start: 2;
    grid-column-start: 1;
    @include margin(auto);
    img {
      @include heightWeight(300px, 450px);
    }
  }
}

// landing page content styling
